// GOOGLE FONTS
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);

// COLORS
$dark-grey: #333333;
$light-blue: #1cb88f; 
$light-grey: #f7f7f7;
$grey: #666;


// SPACING
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem; 
$desktop-breakpoint: 45rem;

// FONT SIZE
$font-size-l: 1.8rem;
